body {
    margin: 0;
}

h1 {
    color: chocolate;
    font-family: Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
}

.minas {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #57c3fc;
    width: 800px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    border: 4px dashed black;
}

.cuadrado {
    max-width: 100%;
    background-color: #57c3fc;
    margin: 0;
}

.flip_individual {
    animation: animacion_flip 0.7s ease-in-out;
}

@keyframes animacion_flip {
    0% {
      transform: perspective(400px) rotateY(0);
    }
    50% {
      transform: perspective(400px) rotateY(180deg);
    }
    100% {
      transform: perspective(400px) rotateY(0);
    }
}